<template name="userLayout">
  <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">microEvents {{pageTitle}}
                </a>
                {{#if isAdmin}}
                <div class="admin-btn-container">
                    <a href="/admin/calendar" class="btn btn-primary">
                        Go to Admin Interface
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons }}
            </ul>
            <div class="user-img">
                <img src="{{userImage}}" />
            </div>
        </div>
    </div>
    {{#if currentUser}}
        <div>{{> errors}}</div>
    
        <div class="container">
            {{>yield}} 
        </div>

        
        
        <button id="show-cal" ><span class="glyphicon glyphicon-plus"></span>Calendar </button>
        <nav id="cal-menu">
            {{>calendarView}}
        </nav>

    {{/if}}
</template>