<template name="userLayout">
  <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{pathFor 'eventsList'}}">microEvents {{pageTitle}}
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
           
            <ul class="nav navbar-nav navbar-right">
                {{ loginButtons }}
            </ul>
        </div>
    </div>
    {{#if currentUser}}
        <div>{{> errors}}</div>
        <button id="showBottom">Show/Hide Bottom Slide Menu</button>
        <div class="cbp-spmenu-push">
            <nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="cal-menu">
                {{>calendarView}}
        </nav>
        </div>
        <div class="container">
            {{yield}} 
        </div>

    {{/if}}
</template>