<template name="userLayout">
  <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <div class="navbar-header">
                <a class="navbar-brand" href="">microEvents {{pageTitle}}
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
           
            <ul class="nav navbar-nav navbar-right">
               <!--  {{ loginButtons }} -->
            </ul>
        </div>
    </div>
    {{#if currentUser}}
        <div>{{> errors}}</div>
    
        <div class="container">
            {{yield}} 
        </div>

        
        <span class="glyphicon glyphicon-plus"></span>
        <button id="show-cal" >Calendar </button>
        <nav id="cal-menu">
            {{>calendarView}}
        </nav>

    {{/if}}
</template>