#cal{
  max-width: 177px;
margin: 0 auto;
font-family: 'Droid Sans Mono';
}

#cal .clndr-controls {
  display: block;
  display: inline-block;
  width: 100%;
  margin-bottom: 3px;
}
#cal .clndr-controls .clndr-previous-button {
  float: left;
  width: 10%;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
#cal .clndr-controls .clndr-previous-button:hover {
  background-color: #f4f4f4;
}
#cal .clndr-controls .month {
  float: left;
  width: 80%;
  text-align: center;
}
#cal .clndr-controls .clndr-next-button {
  float: left;
  width: 10%;
  text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
#cal .clndr-controls .clndr-next-button:hover {
  background-color: #f4f4f4;
}
#cal .clndr-grid {
  text-align: center;
  border: 1px solid #FF4545;
  display: inline-block;
}
#cal .clndr-grid .header-day {
  float: left;
  width: 25px;
  height: 25px;
  background: #FF4545;
}
#cal .clndr-grid .day {
  float: left;
  width: 25px;
  height: 25px;
}
#cal .clndr-grid .day.event {
  background-color: #B4E09F;
}
#cal .clndr-grid .day.today {
  background-color: #E3C57F;
}
#cal .clndr-grid .empty,
#cal .clndr-grid .adjacent-month {
  float: left;
  width: 25px;
  height: 25px;
  background: #ddd;
}
#cal .clndr-today-button {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
#cal .clndr-today-button:hover {
  background-color: #ddd;
}
