@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body{
	font-family: source-sans-pro,'Source Sans Pro','Proxima Nova',"Helvetica Neue",sans-serif;
}

/* CSS declarations go here */
#sidebar {
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: left .15s ease-in-out;
-moz-transition: left .15s ease-in-out;
-o-transition: left .15s ease-in-out;
-ms-transition: left .15s ease-in-out;
transition: left .15s ease-in-out;
float: left;
width: 140px;
height: 100%;
padding-bottom: 34px;
}

#notifications{
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
-moz-box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
color: 0 0 6px 1px rgba(0,0,0,.1);
position: relative;
float: left;
width: 240px;
height: 100%;
padding-bottom: 65px;
border-right: 1px solid #ddd;
border-left: 1px solid #222;
}

#adminContainer{
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.15);
-moz-box-shadow: 0 0 6px 1px rgba(0,0,0,.15);
box-shadow: 0 0 6px 1px rgba(0,0,0,.15);
color: 0 0 6px 1px rgba(0,0,0,.15);
margin-left: 380px;
position: relative;
height: 100%;
overflow: auto;
padding-bottom: 95px;
background: #fff;

-webkit-transition: opacity .3s;
-moz-transition: opacity .3s;
-o-transition: opacity .3s;
-ms-transition: opacity .3s;
transition: opacity .3s;
}

.not-attending{
	opacity: 0.5;
}


.fc-event{
	cursor: pointer;
	text-indent: -1000px;
	width:4px;
	height:4px;
	border-radius: 4px;
}

.fc-view{
	width:200px;
}

.container{
	min-height:480px;
}
/* Transitions */

/*.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}*/

#cal-menu{
	box-shadow: 0px 0px 0px #888, 0px -3px 5px #888;
	font-family: source-sans-pro,'Source Sans Pro','Proxima Nova',"Helvetica Neue",sans-serif
}

.user-img{
display: inline;
float: right;
/* margin-top: 16px; */
/*border: 2px solid white;*/
border-radius: 3px;
}


.admin-btn-container{
	margin-left: 140px;
margin-top: 7px;
}







