/* CSS declarations go here */
#sidebar {
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: left .15s ease-in-out;
-moz-transition: left .15s ease-in-out;
-o-transition: left .15s ease-in-out;
-ms-transition: left .15s ease-in-out;
transition: left .15s ease-in-out;
float: left;
width: 140px;
height: 100%;
padding-bottom: 34px;
}

#notifications{
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
-moz-box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
color: 0 0 6px 1px rgba(0,0,0,.1);
position: relative;
float: left;
width: 240px;
height: 100%;
padding-bottom: 65px;
border-right: 1px solid #ddd;
border-left: 1px solid #222;
}

#adminContainer{
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.15);
-moz-box-shadow: 0 0 6px 1px rgba(0,0,0,.15);
box-shadow: 0 0 6px 1px rgba(0,0,0,.15);
color: 0 0 6px 1px rgba(0,0,0,.15);
margin-left: 380px;
position: relative;
height: 100%;
overflow: auto;
padding-bottom: 95px;
background: #fff;

-webkit-transition: opacity .3s;
-moz-transition: opacity .3s;
-o-transition: opacity .3s;
-ms-transition: opacity .3s;
transition: opacity .3s;
}