

.not-attending{
	opacity: 0.5;
}


.fc-event{
	cursor: pointer;
	text-indent: -1000px;
	width:4px;
	height:4px;
	border-radius: 4px;
}

.fc-view{
	width:200px;
}

.container{
	min-height:480px;
}
/* Transitions */

/*.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}*/

#cal-menu{
	box-shadow: 0px 0px 0px #888, 0px -3px 5px #888;
	font-family: source-sans-pro,'Source Sans Pro','Proxima Nova',"Helvetica Neue",sans-serif
}

.user-img{
display: inline;
float: right;
/* margin-top: 16px; */
/*border: 2px solid white;*/
border-radius: 3px;
}


.admin-btn-container{
	margin-left: 140px;
margin-top: 7px;
}


.unread{
	font-weight: bold;
}






