@import url(http://fonts.googleapis.com/css?family=Lato);
/* line 17, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 5, ../sass/main.scss */
body {
  background: #fafafa; }

/* line 8, ../sass/main.scss */
html, body {
  height: 100%;
  padding: 0;
  color: #505050;
  font-family: "Lato",sans-serif; }

/* line 15, ../sass/main.scss */
h1 {
  font-size: 200%;
  margin: 10px 0; }

/* line 20, ../sass/main.scss */
#main-admin {
  font-family: "Lato";
  overflow: hidden;
  height: 100%; }
  /* line 24, ../sass/main.scss */
  #main-admin #header {
    -webkit-box-shadow: inset 0 1px 0 0 #74b1e3;
    -moz-box-shadow: inset 0 1px 0 0 #74b1e3;
    box-shadow: inset 0 1px 0 0 #74b1e3;
    color: inset 0 1px 0 0 #74b1e3;
    background-image: -moz-linear-gradient(#56a0dd, #4194d9);
    background-image: -webkit-linear-gradient(#56a0dd, #4194d9);
    background-image: -o-linear-gradient(#56a0dd, #4194d9);
    background-image: linear-gradient(#56a0dd, #4194d9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    line-height: 34px;
    z-index: 3001;
    color: #fff;
    text-shadow: 0 -1px 0 #226dab;
    border-bottom: 1px solid #226dab; }
    /* line 43, ../sass/main.scss */
    #main-admin #header .logo a {
      display: inline;
      color: white; }
    /* line 47, ../sass/main.scss */
    #main-admin #header .settings, #main-admin #header .user {
      float: right;
      margin-top: -34px; }
    /* line 52, ../sass/main.scss */
    #main-admin #header .user {
      margin-right: 10px; }
  /* line 56, ../sass/main.scss */
  #main-admin #sidebar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: left .15s ease-in-out;
    -moz-transition: left .15s ease-in-out;
    -o-transition: left .15s ease-in-out;
    -ms-transition: left .15s ease-in-out;
    transition: left .15s ease-in-out;
    float: left;
    width: 140px;
    height: 100%;
    padding-bottom: 34px; }
    /* line 69, ../sass/main.scss */
    #main-admin #sidebar .inner {
      -webkit-box-shadow: inset -6px 8px 12px 1px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset -6px 8px 12px 1px rgba(0, 0, 0, 0.05);
      box-shadow: inset -6px 8px 12px 1px rgba(0, 0, 0, 0.05);
      color: inset -6px 8px 12px 1px rgba(0, 0, 0, 0.05);
      background: #333f3d;
      border-right: 1px solid #444;
      position: relative;
      top: 34px;
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 100%;
      height: 0; }
  /* line 85, ../sass/main.scss */
  #main-admin #candidates {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    color: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    float: left;
    width: 240px;
    height: 100%;
    padding: 65px 0;
    border-right: 1px solid #ddd;
    border-left: 1px solid #222; }
  /* line 101, ../sass/main.scss */
  #main-admin #selected-candiate {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.15);
    color: 0 0 6px 1px rgba(0, 0, 0, 0.15);
    margin-left: 380px;
    position: relative;
    height: 100%;
    overflow: auto;
    padding-bottom: 95px;
    background: #fff;
    z-index: 3000;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s; }
    /* line 122, ../sass/main.scss */
    #main-admin #selected-candiate .inner {
      top: 135px; }
  /* line 127, ../sass/main.scss */
  #main-admin .nav-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0; }
  /* line 132, ../sass/main.scss */
  #main-admin .nav-list li a {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0; }
  /* line 137, ../sass/main.scss */
  #main-admin .nav-list li.active a {
    background: #28312f;
    border-top: 1px solid #232b2a;
    border-bottom: 1px solid #3e4d4b; }
  /* line 142, ../sass/main.scss */
  #main-admin .nav-list li.active {
    background-color: #333; }
  /* line 145, ../sass/main.scss */
  #main-admin .nav-list li.folder {
    -webkit-font-smoothing: antialiased; }
  /* line 148, ../sass/main.scss */
  #main-admin .nav-list li a:hover {
    background-color: #333f3d; }
  /* line 151, ../sass/main.scss */
  #main-admin .nav-list li a {
    color: #eee;
    text-shadow: 0 1px 0 #000;
    border-top: 1px solid #333f3d;
    border-bottom: 1px solid #333f3d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  /* line 160, ../sass/main.scss */
  #main-admin .nav-list .nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    color: #999;
    text-shadow: 0 1px 0 #222;
    text-transform: uppercase; }
  /* line 174, ../sass/main.scss */
  #main-admin .calendar, #main-admin .inbox {
    list-style: none;
    margin: 0;
    margin-top: 1px; }
  /* line 180, ../sass/main.scss */
  #main-admin .inbox-item a, #main-admin .calendar-item a {
    text-decoration: none;
    display: block;
    height: 54px;
    padding: 10px 20px 0 30px; }
  /* line 186, ../sass/main.scss */
  #main-admin .inbox-item a div.bottom, #main-admin .calendar-item a div.bottom {
    float: left;
    font-size: 12px;
    color: #888; }
  /* line 193, ../sass/main.scss */
  #main-admin .inbox-item a div.name, #main-admin .calendar-item a div.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    margin-bottom: 6px; }
  /* line 201, ../sass/main.scss */
  #main-admin .inbox-item, #main-admin .calendar-item {
    border-bottom: 1px solid #ebeff7;
    cursor: pointer;
    overflow: hidden;
    background: #fdfdfe;
    margin-left: 0; }
  /* line 208, ../sass/main.scss */
  #main-admin .toolbar {
    -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05), inset 0 1px 0 1px white;
    -moz-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05), inset 0 1px 0 1px white;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05), inset 0 1px 0 1px white;
    color: 0 1px 6px 1px rgba(0, 0, 0, 0.05) inset 0 1px 0 1px white;
    position: fixed;
    z-index: 2000;
    width: 238px;
    height: 30px;
    line-height: 30px;
    top: 34px;
    border-bottom: 1px solid #cfd2d6;
    background: #f2f5fa;
    color: #505050;
    text-shadow: 0 1px 0 #fff; }
  /* line 225, ../sass/main.scss */
  #main-admin .add-new-event:hover {
    color: #888;
    text-decoration: none; }
  /* line 229, ../sass/main.scss */
  #main-admin .add-new-event {
    float: right;
    margin-right: 10px;
    color: #333; }
  /* line 235, ../sass/main.scss */
  #main-admin .inner {
    top: 35px;
    position: relative;
    min-height: 100%;
    height: 0;
    overflow-y: auto;
    overflow-x: hidden; }
  /* line 244, ../sass/main.scss */
  #main-admin .nothing-selected {
    margin-left: 40%; }
  /* line 248, ../sass/main.scss */
  #main-admin .fa.fa-calendar.big,
  #main-admin .fa.fa-inbox.big {
    font-size: 800%;
    color: #eee; }
  /* line 254, ../sass/main.scss */
  #main-admin .new-event {
    margin-left: 30px; }
  /* line 258, ../sass/main.scss */
  #main-admin .control-label {
    padding-bottom: 5px; }
