<template name="admin_mEventNew">

	<div class="new-event">  
		<h1>Create new new-event</h1>
		<form class="main">
		    <div class="control-group">
		        <label class="control-label" for="title">Title</label>
		        <div class="controls">
		            <input name="title" type="text" value="" />
		        </div>
		    </div>
		    <br/><br/>
		    <div class="control-group">
		        <label class="control-label" for="message">Date</label>
		        <div class="controls">
		            <input name="date" type="text" />
		        </div>
		    </div> 
		    <br/>
		    <div class="control-group">
		        <div class="controls">
		            <input type="submit" value="Submit" class="btn btn-primary"/>
		        </div>
		    </div>
		  </form>
	</div>
</template>