<template name="mEventEdit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="{{title}}" placeholder="Name your Micor Event"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Date</label>
        <div class="controls">
            <input name="date" type="text" value="{{date}}" placeholder="date your Micor Event"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary submit"/>
        </div>
    </div>
    <hr/>
    <div class="control-group">
        <div class="controls">
            <a class="btn btn-danger delete" href="#">Delete Micro Event</a>
        </div>
    </div>
  </form>
</template>