<template name="mEventDetail">
  {{#if prev_mEvent}}
    <div><a href="{{pathFor 'mEventDetail' _id=prev_mEvent._id}}">Previous Event</a></div>
  {{/if}}
  {{#if next_mEvent}}
    <div><a href="{{pathFor 'mEventDetail' _id=next_mEvent._id}}">Next Event</a></div>
  {{/if}}
  <div class="m-event">
  	<h3>{{title}}</h3>
  	 <div>{{moment date}}</div>
  	 <div>prt: {{participationsCount}}</div>
  	 {{#if owns_mEvent}}
  	 	<a href="{{pathFor 'mEventEdit'}}" class="btn">Edit</a>
  	 {{/if}}
  </div>

  <div>
  	<ul class="participations">
    {{#each participations}}
      {{> participation}}
    {{/each}}
  </ul>
  </div>
  {{#if currentUser }}
  	{{> participationSubmit }}
  {{else}}
  	<p>
  		Please log in
  	</p>
  {{/if}}
</template>